

{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account %}

{% block head_title %}{% trans "Profile" %}{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="{%static 'css/account/profile.css' %}">
{% endblock %}


{% block content %}
    <h1>Welcome {{ user }}.</h1>
    <img src="{{ user.get_avatar_url }}" />


    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Campains')" id="defaultOpen">Campains</button>
        <button class="tablinks" onclick="openTab(event, 'Reviews')">Reviews</button>
        <button class="tablinks" onclick="openTab(event, 'Account')">Account</button>
    </div>

    <div id="Campains" class="tabcontent">
        <h3>Campains</h3>
        <table id="campainsTable">
            <thead>
                <tr>
                    <td>Uid</td>
                    <td>Name</td>
                    <td>Domain</td>
                    <td>Active</td>
                    <td><input type='button'value='new' class="btn" onclick="document.location.href='/campain/'" /></td>
                </tr>
            </thead>
            <tbody>
                {%for camp in campains.all %}
                    <tr>
                        <td>
                            {{camp.id}}
                        </td>
                        <td>
                            {{camp.name}}
                        </td>
                        <td>
                            {{camp.url}}
                        </td>
                        <td>
                            {{camp.isActive}}
                        </td>
                        <td>
                            <input type='button'value='edit' class="btn" onclick="document.location.href='/campain/{{camp.id}}'" />
                            <input type='button'value='delete' class="btn" onclick="document.location.href='/campain/del/{{camp.id}}'" />
                        </td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>
      </div>
      
      <div id="Reviews" class="tabcontent">
        <h3>Paris</h3>
        <p>Paris is the capital of France.</p> 
      </div>
      
      <div id="Account" class="tabcontent">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
      </div>
{%endblock%}

{% block extra_body %}
      <!-- JQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
      
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

    <!-- OWN -->
    <script src="{%static 'js/account/profile.js' %}"></script>
{% endblock %}