{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account %}

{% block head_title %}{% trans "Profile" %}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<link rel="stylesheet" href="{%static 'css/account/profile.css' %}">
{% endblock %}


{% block content %}



<h1>Welcome {{ user }}.</h1>
<img src="{{ user.get_avatar_url }}" />

<div id="deleteModal" class="modal">
    <div>
        Are you sure you want to delete?
    </div>
    <div>
        <button onclick="document.location.href=document.getElementById('deleteModal').dataset.delurl;"
            id="deleteYES"><i class="fas fa-thumbs-up"></i>YES</button>
        <button onclick="$.modal.close();" id="deleteNO"><i class="fas fa-thumbs-down"></i>NO</button>
    </div>
</div>



<div class="tab">
    <button class="tablinks" name="tab_all" onclick="openTab(event, 'All')">All</button>
    <button class="tablinks" name="tab_campains" onclick="openTab(event, 'Campains')" id="defaultOpen">Campains</button>
    <button class="tablinks" name="tab_reviews" onclick="openTab(event, 'Reviews')">Reviews</button>
    <button class="tablinks" name="tab_account" onclick="openTab(event, 'Account')">Account</button>
</div>



<div id="Campains" class="tabcontent">
    <h3 class="tabtitle">Campains</h3>
    <div class="table-container">
        <table id="campainsTable">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Domain</td>
                    <td>Active</td>
                    <td>reviews</td>
                    <td>code</td>
                    <td>
                        <button class="btn btn-success" onclick="document.location.href='/campain/'">
                            <i class="fas fa-plus fa-2x">
                            </i>
                        </button>

                    </td>
                </tr>
            </thead>
            <tbody>
                {%for camp in campains.all %}
                <tr>
                    <td>
                        {{camp.name}}
                    </td>
                    <td>
                        <a href="{{camp.url}}">{{camp.url}}</a>
                    </td>
                    <td>
                        {% if camp.isActive %}
                        <i class="fa fa-check-circle" style="color:green;" aria-hidden="true"></i>
                        {%else%}
                        <i class="fa fa-times-circle" style="color:red;" aria-hidden="true"></i>
                        {%endif%}
                    </td>
                    <td>
                        {{camp.proofs.count}}
                    </td>
                    <td>
                        <code>&lt;script type="text/javascript"
                            src="{{ SITE_URL }}/load-campain/{{camp.id}}"&gt;&lt;/script&gt;</code>
                    </td>
                    <td>
                        <button value='edit' class="btn" style="color: green;"
                            onclick="document.location.href='/campain/{{camp.id}}'">
                            <i class="fas fa-edit"></i>
                        </button>
                        <!--
                        <button type="button" class="btn" data-toggle="modal" data-target="#deleteCampainModal"
                         data-id="{{camp.id}}">
                         <i class="fas fa-trash-alt"></i>
                        </button>
                        -->

                        <button value='delete' class="btn" style="color:red;" onclick="deleteCampain({{camp.id}})">
                            <i class="fas fa-trash-alt"></i>
                        </button>

                        <!-- '" -->
                    </td>

                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

<div id="Reviews" class="tabcontent">
    <h3 class="tabtitle">Reviews</h3>
    <div id="addProfModel" class="modal">
        <form method="POST" action="/addProf" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id">
            <img class="prof-table-image" id="displayImage" src="">
            <img class="prof-table-image-logo" id="displayImageLogo" src="">
            {{profForm.as_p}}
            <input type="submit" value="SAVE">
            <button onclick="closeProfModal(event)">close</button>
        </form>
    </div>


    <table id="reviewsTable">
        <thead>
            <tr>
                <td>image</td>
                <td>title</td>
                <td>time</td>
                <td>message</td>
                <td>
                    <button class="btn btn-success" onclick="fillAndOpenProfModel();">
                        <i class="fas fa-plus fa-2x">
                        </i>
                    </button>
                </td>
            </tr>
        </thead>
        <tbody>
            {%for prof in proofs.all %}
            <tr>
                <td>
                    <img class="prof-table-image" src="{% if prof.image %}{{prof.image.url}}{% endif %}">
                </td>
                <td>
                    {{prof.title}}
                </td>
                <td>
                    {{prof.time}}
                </td>
                <td>
                    {{prof.message}}
                </td>
                <td>
                    <button value='edit' class="btn" style="color: green;"
                        onclick="fillAndOpenProfModel('{{prof.id}}', '{% if prof.image %}{{prof.image.url}}{%endif%}','{{prof.title}}','{{prof.time}}', '{{prof.message}}', {{prof.stars}}, '{{prof.link}}','{% if prof.logo %}{{prof.logo.url}}{%endif%}' );">
                        <i class="fas fa-edit"></i>
                    </button>

                    <button value='delete' class="btn" style="color:red;" onclick="deleteProf({{prof.id}})">
                        <i class="fas fa-trash-alt"></i>
                    </button>


                    <!--
                    <input name="profEdit{{prof.id}}" type='button' value='edit' class="btn"
                        onclick="fillAndOpenProfModel('{{prof.id}}', '{% if prof.image %}{{prof.image.url}}{%endif%}','{{prof.title}}','{{prof.time}}', '{{prof.message}}', {{prof.stars}}, '{{prof.link}}','{% if prof.logo %}{{prof.logo.url}}{%endif%}' );" />
                    <input type='button' value='delete' class="btn" onclick="deleteProf({{prof.id}})" />
                    -->
                </td>

            </tr>
            {%endfor%}
        </tbody>
    </table>

</div>

<div id="Account" class="tabcontent">
    <h3 class="tabtitle">Account</h3>
    {%for sub in activeSubscription %}
    <div>
        <div>
            Name: {{sub.plant}}
        </div>
        <div>
            From: {{sub.start_time}}
        </div>
        <div>
            To: {{sub.end_time}}
        </div>
        <div>
            Auto-renew: {{ sub.isCanceled|yesno:"False,True" }}
        </div>
    </div>
    {%endfor%}

    <form action="/change_user_plan" method="POST">
        {%csrf_token%}
        <div class="wrapper-card">
            {%for plant in plants.all%}
            {%if plant.name == "Trail" %}

            {%else %}
            <div class="card">
                {%if activeSubscription.plant == plant %}
                <div class="card-ribbon">
                    <span>Active</span>
                </div>
                {%endif%}

                <div class="card-title">
                    <h3>{{plant.name}}</h3>

                </div>
                <div class="card-price">
                    <h1>
                        <sup>&dollar;</sup>
                        {{plant.price}}
                        <small>month</small>
                    </h1>
                </div>
                <div class="card-description">
                    <ul>
                        <li>{{plant.domain}} domains </li>
                        {%for feature in plant.features.all %}
                        <li>{{feature.title}}</li>
                        {%endfor%}
                    </ul>
                </div>
                <div class="card-action">
                    <button type="submit" name="submit" value="{{plant.id}}">Get {{plant.name}}</button>

                </div>
                {%endif%}
            </div>
            {%endfor%}

        </div>
    </form>
</div>
<!--
            <div class="card popular">
                <div class="card-ribbon">
                    <span>most popular</span>
                </div>
                <div class="card-title">
                    <h3>Pro</h3>
                    <h4>Maecenas ut justo molestie, pharetra arcu ac, mollis est.</h4>
                </div>
                <div class="card-price">
                    <h1>
                        <sup>&dollar;</sup>
                        15
                        <small>month</small>
                    </h1>
                </div>
                <div class="card-description">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Pellentesque hendrerit</li>
                        <li>Aliquam at orci aliquam</li>
                        <li>Praesent non sapien laoreet</li>
                    </ul>
                </div>
                <div class="card-action">
                    <button type="button">Get Pro</button>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <h3>Premium</h3>
                    <h4>Duis quis sem auctor, convallis felis vitae, placerat sapien.</h4>
                </div>
                <div class="card-price">
                    <h1>
                        <sup>&dollar;</sup>
                        20
                        <small>month</small>
                    </h1>
                </div>
                <div class="card-description">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Pellentesque hendrerit</li>
                        <li>Aliquam at orci aliquam</li>
                        <li>Praesent non sapien laoreet</li>
                    </ul>
                </div>
                <div class="card-action">
                    <button type="button">Get Premium</button>
                </div>
            </div>
            -->

{%endblock%}


{% block extra_body %}
<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>


<!-- OWN -->
<script src="{%static 'js/account/profile.js' %}"></script>
{% endblock %}