/*.modal {
    position: absolute;
}*/
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 29%;
  height: 300px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

.tab button.active {
  background-color: #ccc;
}

.tab button:hover {
  background-color: #ddd;
}

.tabcontent {
  float: right;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  min-height: 300px;
}

#campainsTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#campainsTable thead {
  border-bottom: 1px black solid;
}

#campainsTable tr {
  border-bottom: 1px #333333 dashed;
}

#campainsTable td {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.5em;
}

.prof-table-image {
  border-radius: 999999px;
  height: 75px;
  width: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

.prof-table-image-logo {
  height: 25px;
}

#reviewsTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#reviewsTable thead {
  border-bottom: 1px black solid;
}

#reviewsTable tr {
  border-bottom: 1px #333333 dashed;
}

#reviewsTable td {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.5em;
}

#Account .wrapper-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 40px auto;
  width: 77%;
}

#Account .card {
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 8px;
  padding: 30px;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#Account .card.popular {
  margin-top: -10px;
  margin-bottom: -10px;
}

#Account .card.popular .card-title h3 {
  color: #3498db;
  font-size: 22px;
}

#Account .card.popular .card-price {
  margin: 50px;
}

#Account .card.popular .card-price h1 {
  color: #3498db;
  font-size: 60px;
}

#Account .card.popular .card-action button {
  background-color: #3498db;
  border-radius: 80px;
  color: #fff;
  font-size: 17px;
  margin-top: -15px;
  padding: 15px;
  height: 80px;
}

#Account .card.popular .card-action button:hover {
  background-color: #2386c8;
  font-size: 23px;
}

#Account .card:hover {
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#Account .card-ribbon {
  position: absolute;
  overflow: hidden;
  top: -10px;
  left: -10px;
  width: 114px;
  height: 112px;
}

#Account .card-ribbon span {
  position: absolute;
  display: block;
  width: 160px;
  padding: 10px 0;
  background-color: #3498db;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  left: -35px;
  top: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#Account .card-ribbon::before, #Account .card-ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
  border-top-color: transparent;
  border-left-color: transparent;
}

#Account .card-ribbon::before {
  top: 0;
  right: 0;
}

#Account .card-ribbon::after {
  bottom: 0;
  left: 0;
}

#Account .card-title h3 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  text-transform: uppercase;
}

#Account .card-title h4 {
  color: rgba(0, 0, 0, 0.6);
}

#Account .card-price {
  margin: 60px 0;
}

#Account .card-price h1 {
  font-size: 46px;
}

#Account .card-price h1 sup {
  font-size: 15px;
  display: inline-block;
  margin-left: -20px;
  width: 10px;
}

#Account .card-price h1 small {
  color: rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}

#Account .card-description ul {
  display: block;
  list-style: none;
  margin: 60px 0;
  padding: 0;
}

#Account .card-description li {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  margin: 0 0 15px;
}

#Account .card-description li::before {
  font-family: FontAwesome;
  content: "\f00c";
  padding: 0 5px 0 0;
  color: rgba(0, 0, 0, 0.15);
}

#Account .card-action button {
  background: transparent;
  border: 2px solid #3498db;
  border-radius: 30px;
  color: #3498db;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#Account .card-action button:hover {
  background-color: #3498db;
  -webkit-box-shadow: 0 2px 4px #196090;
          box-shadow: 0 2px 4px #196090;
  color: #fff;
  font-size: 17px;
}
/*# sourceMappingURL=profile.css.map */