
/*.modal {
    position: absolute;
}*/

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 29%;
    height: 300px;

    button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;

        &.active {
            background-color: #ccc;
        }

        &:hover {
            background-color: #ddd;
        }
    }
}

.tabcontent {
    float: right;
    //padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    min-height: 300px;
}


#campainsTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    thead {
        border-bottom: 1px black solid;
    }
    tr {
        border-bottom: 1px #333333 dashed;
    }
    td {
        border-left: 1px solid rgba(0,0,0,0.2);
        border-right: 1px solid rgba(0,0,0,0.2);
        padding: 1.5em;
    }
}

.prof-table-image {
    border-radius: 999999px;
    height: 75px;
    width: 75px;
    object-fit: cover;
}
#reviewsTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

    thead {
        border-bottom: 1px black solid;
    }
    tr {
        border-bottom: 1px #333333 dashed;
    }
    td {
        border-left: 1px solid rgba(0,0,0,0.2);
        border-right: 1px solid rgba(0,0,0,0.2);
        padding: 1.5em;
    }


}